@use 'variables' as v;

.header__categories__popup{
    border: 1px solid var(--secondary-color);
    width: 330px;
    max-height: 70vh;
    height: fit-content;
    position: absolute;
    left: 84px;
    top: calc(50% - 29.5px);
    background-color: var(--primary-color);
    z-index: 5;
    display: none;
    flex-direction: column;
    gap: 0px;

    .header__nav__options{
        overflow: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        cursor: grab;
        padding: 20px;
        padding-bottom: 30px;
        border-bottom: 0.1px solid var(--secondary-color-opacity);

        .item{
            text-shadow: none;
            user-select: none;
            a{
                cursor: grab;
            }
            
            &[data-category="sale"]{
                .link{
                    color: var(--attention-color);
                }
            }

            &:hover, &[data-active="true"]{
                text-shadow: -0.2px 0 var(--secondary-color), 0 -0.2px var(--secondary-color), 0.2px 0 var(--secondary-color), 0 0.2px var(--secondary-color);
            }

            &[data-category="sale"]:hover, &[data-active="true"][data-category="sale"]{
                text-shadow: -0.2px 0 var(--attention-color), 0 -0.2px var(--attention-color), 0.2px 0 var(--attention-color), 0 0.2px var(--attention-color);
            }
        }
    }

    .categories__container{
        padding-block: 10px;
        padding: 20px;
        overflow: hidden;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 100%;
        grid-auto-columns: 100%;
        gap: 20px;

        .categories{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 25px;

            .categories__division{
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-block: 2px;

                .item{
                    padding-block: 6px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 12px;
                    font-weight: 300;
                    cursor: pointer;

                    a{
                        opacity: 0.7;
                    }
    
                    .arrow__container{
                        display: flex;
                        align-items: center;
    
                        .arrow__icon{
                            fill: var(--secondary-color);
                            opacity: 0;
                        }
                    }
                }

                .item:hover{
                    a{
                        opacity: 1;
                    }
                }

                .item[data-new="true"], .item__btn[data-new="true"]{
                    a{
                        display: flex;
                        gap: 6px;
                    }
                    a::after{
                        content: 'NEW';
                        font-size: 6px;
                        letter-spacing: 1px;
                    }
                }

                .item[data-new="update"], .item__btn[data-new="update"]{
                    a{
                        display: flex;
                        gap: 6px;
                    }
                    a::after{
                        content: 'UPDATE';
                        font-size: 6px;
                        letter-spacing: 1px;
                    }
                }

                .category__option__title{
                    font-size: 12px;
                    font-style: italic;
                    color: var(--secondary-color);
                }

                .item[data-category="sale"]{
                    a{
                        color: var(--attention-color);
                    }
                }
            }

            .nothing__selected__division{
                gap: 28px;

                .nothing__selected{
                    opacity: 0.7;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    span{
                        font-size: 14px;
                        color: var(--secondary-color);
                    }

                    .arrow__container{
                        padding: 2px;
                        transform: rotate(-90deg);
                        
                        .arrow__icon{
                            fill: var(--secondary-color);
                        }
                    }

                    .touch__container{
                        padding: 2px;
                    }
                }
            }

            .categories__division__btn{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-block: -5px;

                .category__option__title{
                    width: 100%;
                    font-style: normal;
                }

                .item__btn{
                    display: flex;
                    width: min-content;
                    align-items: center;
                    border: 1px solid var(--secondary-color);
                    padding: 5px;
                    transition: all 0.3s ease;
                    opacity: 0.6;
                    a{
                        font-size: 12px;
                        color: var(--secondary-color);
                        transition: all 0.3s ease;
                        text-wrap: nowrap;
                    }

                    &:hover{
                        opacity: 1;
                        background-color: var(--secondary-color);
                        a{
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}

.header__categories__popup[aria-hidden="false"]{
    display: flex;
}