@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;

.products__container{
    display: grid;
    grid-template-columns: repeat(5, minmax(calc(20% - 20px), 1fr));
    grid-auto-columns: minmax(calc(20% - 20px), 1fr);
    grid-auto-flow: column;
    gap: 20px;
    overflow-x: hidden;
    position: relative;
    &>*{
        cursor: grab;
    }

    @include m.breakpoint('all-md'){
        grid-template-columns: repeat(3, minmax(calc((100% / 3) - 15px), 1fr));
        grid-auto-columns: minmax(calc((100% / 3) - 15px), 1fr);
    }

    @include m.breakpoint('all-xs'){
        grid-template-columns: repeat(2, minmax(calc((100% / 2) - 10px), 1fr));
        grid-auto-columns: minmax(calc((100% / 2) - 10px), 1fr);
    }

    .product__card{
        display: flex;
        flex-direction: column;   
        gap: 6px;   

        .product__card__image__container{
            position: relative;
            display: flex;
            justify-content: center;

            .product__card__image__element__container{
                display: flex;
                flex-direction: column;
                position: relative;
                border: 1px solid var(--secondary-color);
                overflow: hidden;

                &:hover{
                    .product__card__image.backphoto{
                        transform: translateY(0%);
                    }
                }

                .product__card__image{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    img{
                        display: block;
                        object-fit: cover;
                        aspect-ratio: 2/3;
                        height: 100%;
                        width: 100%;
                    }
                }

                .product__card__image.backphoto{
                    transition: all 0.4s ease;
                    position: absolute;
                    z-index: 1;
                    transform: translateY(100%);
                }
            }
            .add-cart__btn{
                position: absolute;
                bottom: 30px;
                background-color: var(--primary-color);
                border: 1px solid var(--secondary-color);
                z-index: 2;
                box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.5);
                transition: all 0.3s ease;

                &:hover{
                    transform: scale(1.2);
                }

                svg{
                    width: 14px;
                    height: 14px;
                }
            }
        }

        &__title, &__price, &__description{
            font-size: f.rem(12);
            display: block;
            color: var(--secondary-color);
        }

        &__title{
            margin-top: 4px;
        }

        &__price__container[data-discount="true"]{
            display: flex;
            align-items: center;
            gap: 6px;
            text-wrap: nowrap;
            @include m.breakpoint('xxs'){
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
            }

            >.product__card__price:first-child{
                text-decoration: line-through;
                color: var(--secondary-color);
                opacity: 0.6;
            }
            .product__card__price__discount__container{
                display: flex;
                align-items: center;
                gap: 12px;
                background-color: var(--secondary-color);
                padding: 2px 4px;

                span{
                    color: var(--primary-color);
                }
            }
        }

        &__description{
            cursor: pointer;
            display: grid;
            height: 50px;
            max-height: 100%;
            overflow: hidden;
            transition: all 0.5s ease;
            position: relative;

            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: -1px;
                left: 0;
                background: linear-gradient(180deg, transparent 20%, var(--primary-color) 70%);
                z-index: 1;
                transition: opacity 0.3s ease;
            }

            &[aria-hidden="false"]{
                cursor: text;
                @include m.breakpoint('all-sm'){
                    max-height: 150px;
                }
                &::after{
                    opacity: 0;
                }
            }

            p{
                line-height: 16px;
                overflow: hidden;
            }
        }
    }
}

.carrousel__products__container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include m.breakpoint('all-sm'){
        gap: 20px;
    }

    &__scroll-bar{
        width: 100%;
        height: 1px;
        background-color: var(--progress-bar-bg);
        border-radius: 50px;

        .progress{
            height: 100%;
            background-color: var(--progress-bar-progress);
            width: 20%;
            border-radius: 50px;
        }
    }
}