// BREAKPOINTS

$breakpoints: (
    "xxs": "max-width: 380px",
    "xs": "(min-width: 381px) and (max-width: 575px)",
    "sm": "(min-width: 576px) and (max-width: 767px)",
    "md": "(min-width: 768px) and (max-width: 991px)",
    "lg": "(min-width: 992px) and (max-width: 1199px)",
    "xl": "min-width: 1200px",
    "all-xs": "max-width: 575px",
    "all-md": "max-width: 991px",
    "all-sm": "max-width: 767px",
);

// FONTS

@font-face {
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-thin.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

$font-family: 'Helvetica-Neue', sans-serif;

// COLORS

:root{
    --bg-default: #ffffff;
    --primary-color: #f0f0f0;
    --secondary-color: #000000;
    --attention-color: #f463ab;
    --danger-color: #ce2727;
    --success-color: #2cac63;

    --progress-bar-bg: #ccc;

    --opacity: 0.7;

    --border-thickness: 0.5px;

    --letter-spacing: 0.5px;
}

body[data-theme="dark"]{
    --bg-default: #000000;
    --primary-color: #404040;
    --secondary-color: #ffffff;

    --progress-bar-bg: #5f5f5f;
    --progress-bar-progress: #ffffff;

    --opacity: 0.8;
}