// BREAKPOINTS

$breakpoints: (
    "xs": "max-width: 575px",
    "sm": "(min-width: 576px) and (max-width: 767px)",
    "md": "(min-width: 768px) and (max-width: 991px)",
    "lg": "(min-width: 992px) and (max-width: 1199px)",
    "xl": "min-width: 1200px",
    "all-md": "(max-width: 768px)",
    "all-sm": "(max-width: 576px)",
);

// FONTS

@font-face {
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-thin.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Helvetica-Neue';
    src: url(../assets/fonts/helveticaneue-italic.woff2) format('woff2');
    font-weight: 400;
    font-style: italic;
}

$font-family: 'Helvetica-Neue', sans-serif;

// COLORS

$primary-color: #fff;
$secondary-color: #000;

$progress-bar-bg: #cccccc;
$progress-bar-progress: #000;
$progress-bar-bg-dark: #5f5f5f;
$progress-bar-progress-dark: #fff;

:root{
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};

    --progress-bar-bg: #{$progress-bar-bg};
    --progress-bar-progress: #{$progress-bar-progress};
}

body[data-theme="dark"]{
    --primary-color: #{$secondary-color};
    --secondary-color: #{$primary-color};

    --progress-bar-bg: #{$progress-bar-bg-dark};
    --progress-bar-progress: #{$progress-bar-progress-dark};
}